# Xcode
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.xcuserdatad
*.moved-aside
DerivedData/
build/
*.ipa

# Swift Package Manager
.build/

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Archives
*.xcarchive

# Misc
.DS_Store
